.row {
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin-bottom: 52px;
}

.column > h4 {
  flex-grow: 1;
}

.pageTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
