body,
ul {
  margin: 0;
  padding: 0;
}

.nav {
  height: 60px;
  background-color: black;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
