body {
  display: flex;
  justify-content: center;
}
.app-content {
  height: 100%;
  width: 1090px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 1090px) {
  .app-content {
    width: 100%;
  }
}
